<main class="main">
    <div class="content">
      <div class="login-container">
        <form (ngSubmit)="onLogin()">
          <label for="username">Username : </label>
          <input class="input" id="username" type="text" [(ngModel)]="username" autocomplete="off" name="123" required/>
          <br/>
          <label for="password">Password : </label>
          <input class="input" id="password" type="text" [(ngModel)]="password" autocomplete="off" name="456" required/>
          <br/>
          <button class="btn" type="submit">Login</button>
        </form>
      </div>
    </div>
  </main>